* {
	text-align: center;
	color: #cad3f5;
}

body {
	background-color: #24273a;
	font-family: 'Trebuchet MS';
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, i, p {
	color: #cad3f5;
}

.container {
	flex: 1;
	margin: 1em;
	padding: 1em;
	background-color: #363a4f;
}

.row {
	display: flex;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#banner {
	padding-top: 8em;
	width: 100%;
	background-color: #7dc4e4;
	text-align: center;
}

#title {
	font-size: 4em;
	animation-name: titlecolors;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes titlecolors {
	0%		{color: #FF0000;}
	16.6%	{color: #FFFF00;}
	33.3%	{color: #00FF00;}
	50%		{color: #00FFFF;}
	66.6%	{color: #0000FF;}
	83.3%	{color: #FF00FF;}
	100%	{color: #FF0000;}
}

#spacer {
	width: 100%;
	padding: 0.25em;
}
